.webpage {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F9F9F9;
    
}

.webpage .navigation {
    background-color: black;
    width: 100%;
    height: 100px;
    padding-bottom: 10px;
    opacity: 0.8;
    position: fixed;
    
}

.webpage .navigation ul {
    display: flex;
    margin-left: 25%;
}

.webpage .navigation li {
    margin: 30px;
}

.webpage .navigation a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.webpage .navigation a:hover {
    color: darkcyan;
}

.webpage .navigation span {
    color: black;
    background-color: yellow;
    border-radius: 20px;
    padding: 10px;
}

.webpage .background_image {
    background-image: url(techcamp_it_students.jpg);
    width: 100%;
    height: 610px;


}

.webpage .background_image .background_image_content {

    padding-top: 27%;
    text-align: center;
    color: white;
}

.webpage .background_image .background_image_content .b_img {
    color: orange;
}

.webpage .background_image .background_image_content .b_img1 {
    font-weight: lighter;
}

.webpage .background_image .background_image_content .b_img2 {
    color: orange;
}

.webpage .background_image .background_image_content button {
    background-color: orange;
    border: none;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.webpage .background_image .background_image_content a:hover {
    color: #20B2AA;
}

.webpage .background_image .background_image_content a {
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.webpage .iframe {
    text-align: center;
}

.webpage .iframe iframe {
    width: 852px;
    height: 480px;
}

.webpage .iframe .iframe1 {
    color: grey;
}

.webpage .iframe .iframe2 {
    color: orange;
}

.webpage .section_list {
    display: flex;
    margin: 50px;
    justify-content: space-around;
}

.webpage .section_list .section {
    text-align: center;
    width: 360px;
    height: 400px;
    font-size: 14px;
    color: #666666;
}

.webpage .section_list .section img {
    width: 200px;
    height: 200px;
}

.webpage .section_list .section .section1 {
    color: orange;
    font-weight: bold;
}

.webpage .section_list .section .section2 {
    color: grey;
    font-weight: bold;
}

.webpage .section_list .section .section3 {
    color: orange;
}

.webpage .courses_image{
    width: 650px;
    margin-left: 3%;
    margin-top: -34%;          
}

.webpage .courses {
    background-color: #303543;
    color: #D6D7D9;
    font-style: italic;
    font-size: 14px;
    padding: 30px 50px 80px;
    width: 43%;
    height: 300px;
    margin-top: 15%;
    margin-left: 47%;
    
}

.webpage .courses h2 {
    font-style: normal;
    font-weight: lighter;

}

.webpage .courses .courses1 {
    color: orange;
    font-style: normal;
    font-weight: bold;
}

.webpage .courses .courses2 {
    font-weight: bold;
}

.webpage .courses .courses3 {
    color: orange;
    font-weight: bold;
}

.webpage .courses button {
    background-color: orange;
    width: 250px;
    height: 50px;
    border-color: white;
    border-radius: 5px;    
    margin-left: 30%;
    margin-top: 3%;
}

.webpage .courses button:hover {
    background-color: white;
    
}

.webpage .courses button a {
    color: white;
    text-decoration: none;
}

.webpage .courses button a:hover {
    color: black;
}

.webpage .alumni {
    display: flex;
    justify-content: space-around;
    background-image: url(ET-highschool-computerlab.jpg);
    width: 100%;
    height: 300px;
    padding-top: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.webpage .alumni .alumni_nested_divs {
    text-align: center;
    color: #CCCCCC;
}

.webpage .alumni .alumni_nested_divs h1 {
    color: #20B2AA;
    font-size: 50px;
}

.webpage h2 {
    text-align: center;
    color: #666666;
    font-size: 30px;
    font-weight: 500;
}

.webpage .cert_partners {
    margin-bottom: 5%;
}

.webpage .cert_partners img {
    width: 260px;
}

.webpage .button {
    background-color: orange;
    border: none;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    margin-left: 40%;
}

.webpage .button a {
    color: white;
    text-decoration: none;
}

.webpage .button a:hover {
    color: darkcyan;
}

.webpage .p{
    margin-left: 43%;
}

.webpage .icons {
    margin-left: 47%;
}